html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  background-color: #a9a9a9;
}

.osnovna {
  background-color: darkgrey;
  color: aliceblue;
}

.element:hover {
  font-weight: bold;
  
  
}

body {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: Arial;
  color:darkred;
}

p, input, li {
  color: #2a2a2a;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.43rem;
}

p, li {
  line-height: 1.5;
}

navigacija, vsebina, aside {
  background-color: white;
  padding: 1%;
}

navigacija {
  height: 50px;
  background-color: aliceblue;
  display: flex;
  margin-bottom: 10px;
  
  
}

navigacija ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

navigacija li {
  display: inline;
  flex: 1;
  text-align: center;
}

navigacija a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

navigacija form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

telo {
  display: flex;
}

vsebina {
  flex: 4;
}

desni-meni {
  flex: 1;
  margin-left: 10px;
  background-color: aliceblue;
}

desni-meni li {
  padding-bottom: 10px;
}

noga {
  float: left;
  text-align: center;
  background-color: aliceblue;
  width:100%;
  margin-top: 10px;
  
  
  
}

.rob {
  border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kvadrat{
  border:2px solid darkred;
  background-color:#fffff4 ;
  padding: 10px;
  margin: 10px;  
  
}
